<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="/css/custome/index.css">
    <link rel="icon" type="image/x-icon" href="/images/assets/bola.png" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 280px; height: 100%; position: fixed; z-index: 1;">
    <h4 class="text-light" th:text="${session.nama_merchant}"></h4>
    <div style="border-bottom: 2px solid whitesmoke; margin-bottom: 10px"></div>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/my-merchant" class="nav-link link-dark">
                <i class="fa fa-dashboard"></i>
                &nbsp&nbsp&nbsp Dashboard
            </a>
        </li>
        <br/>
        <li>
            <a href="#" class="nav-link link-dark">
                <span class="fa fa-table"></span>
                &nbsp&nbsp&nbsp Booking Order
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <span class="fa fa-money-bill"></span>
                &nbsp&nbsp&nbsp Finished Order
            </a>
        </li>
        <br/>
        <li>
            <a href="#" class="nav-link link-dark">
                <span class="fa fa-comment"></span>
                &nbsp&nbsp&nbsp Review
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <span class="fa fa-bar-chart"></span>
                &nbsp&nbsp&nbsp Report
            </a>
        </li>
<!--        <br/>-->
<!--        <li>-->
<!--            <a href="/merchant-employee" class="nav-link link-dark">-->
<!--                <span class="fa fa-users"></span>-->
<!--                My Emplooye-->
<!--            </a>-->
<!--        </li>-->
    </ul>
    <hr>

    <a href="/" class="text-light font-weight-bold font-italic nav-link">
        <h4 class="text-center">
            <i class="fa fa-home float-left" aria-hidden="true"></i> Back to website
        </h4>
    </a>

</div>
<div layout:fragment="content">
    <p>Changing contents</p>
</div>
</body>
</html>