<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="/css/custome/index.css">
    <link rel="icon" type="image/x-icon" href="/images/assets/bola.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){

            el_autohide = document.querySelector('.autohide');

            // add padding-top to bady (if necessary)
            navbar_height = document.querySelector('.navbar').offsetHeight;
            // document.body.style.paddingTop = navbar_height + 'px';

            if(el_autohide){
                var last_scroll_top = 0;
                window.addEventListener('scroll', function() {
                    let scroll_top = window.scrollY;
                    if(scroll_top < last_scroll_top) {
                        el_autohide.classList.remove('scrolled-down');
                        el_autohide.classList.add('scrolled-up');
                    }
                    else {
                        el_autohide.classList.remove('scrolled-up');
                        el_autohide.classList.add('scrolled-down');
                    }
                    last_scroll_top = scroll_top;
                });
                // window.addEventListener
            }
            // if

        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark autohide fixed-top" style="background-color: rgba(52,58,64, 0.3)">
    <a class="navbar navbar-brand" href="/">
        <img src="/images/assets/logo.png"  style="width:150px; height:50px;object-fit: fill"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link font-weight-bold" href="/" style="text-transform: capitalize">home</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link  font-weight-bold" href="/my-profil" style="text-transform: capitalize">my profil</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link  font-weight-bold" href="/my-merchant" style="text-transform: capitalize">my merchant</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link  font-weight-bold" href="/my-tim" style="text-transform: capitalize">my team</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link  font-weight-bold" href="/bill" style="text-transform: capitalize">bill</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link  font-weight-bold" href="/about-ivte-p" style="text-transform: capitalize">about ivte-p</a>
            </li>
        </ul>
        <a class="btn btn-outline-light" href="/page-login" th:if="${session.login == false}">
            SIGN IN / UP <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
        </a>
        <div class="btn-group dropleft" th:if="${session.login == true}" >
            <a class="btn rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: whitesmoke">
                <i class="fa fa-user-alt" aria-hidden="true" style="color: whitesmoke"></i>
                <span class="notification bg-danger" th:if="${session.notif == true}">!</span>
            </a>

            <div class="dropdown-menu">
                <div class="dropdown-header">Signed in as <br/>
                    <span class="font-weight-bold" th:text="${session.user.namaDepan} + ' ' + ${session.user.namaBelakang}"></span>
                </div>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/my-profile" style="font-size: 14px">Your profile</a>
                <a  class="dropdown-item" href="/my-merchant" style="font-size: 14px" th:if="${session.merchant != null}">Your merchant  <span class="badge badge-danger badge-pill" th:if="${session.notif_merchant > 0}">!</span></a>
                <a  class="dropdown-item text-danger" href="/" style="font-size: 14px" th:if="${session.merchant == null}" >Your merchant</a>
                <a class="dropdown-item" href="/my-tim" style="font-size: 14px" th:if="${session.tim != null}">Your team</a>
                <a class="dropdown-item text-danger" href="/" style="font-size: 14px" th:if="${session.tim == null}" >Your team</a>
                <a class="dropdown-item" href="/bill" style="font-size: 14px">Your bill  <span class="badge badge-danger badge-pill" th:if="${session.bill > 0}" th:text="${session.bill}"></span></a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" style="font-size: 14px"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item " href="/Logout" style="font-size: 14px"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sign Out</a>
            </div>
        </div>
    </div>
</nav>

<div layout:fragment="content">

    <p>Changing contents</p>
</div>
</body>
</html>