<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: 280px">
    <div style="width: 100%; height: 600px;">
        <img src="/images/merchant/banner/b20210617221050.jpeg" style="height: 100%; width: 100%; object-position: center">
    </div>
    <section>
        <div class="container">
            <input type="file" title="Change banner" class="form-control-file">
            <br/>
            <div class="row">
                <div class="col-3">
                    <img src="/images/merchant/foto/f20210617221207.jpg" style="height: 200px; width: 200px; object-fit: cover; object-position: center" class="card-img">
                    <input type="file" title="Change pictures" class="form-control-file">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-2">Name</div>
                        <div class="col font-weight-light">
                            <input type="text" class="form-control" value="SPORT EA">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Address</div>
                        <div class="col font-weight-light">
                            <input type="text" class="form-control" value="RT.006/RW.005, Buaran Indah, Kec. Tangerang, Kota Tangerang, Banten, Indonesia">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Contact person</div>
                        <div class="col font-weight-light">
                            <input type="text" class="form-control" value="Ivam (0895 6064 25999)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Description</div>
                        <div class="col font-weight-light wrapText">
                        <textarea class="form-control">Tempat paling nyaman untuk anda bermain futsal Tempat paling nyaman untuk anda bermain futsal Tempat paling nyaman untuk anda bermain futsal
                        </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <i class="fa fa-star" style="color: yellow"></i>
                            <i class="fa fa-star" style="color: yellow"></i>
                            <i class="fa fa-star" style="color: yellow"></i>
                            <i class="fa fa-star" style="color: yellow"></i>
                            <i class="fa fa-star-half" style="color: yellow"></i>
                        </div>
                        <div class="col">: 4.7</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <section id="Court" class="bg-light">
        <div class="container">
            <br/>
            <h4 class="font-weight-bold text-dark text-center">Our Courts</h4>
            <br/>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-img" src="/images/lapangan/l20210618033325.jpeg" style="height: 150px; width: 250px; object-fit: cover; object-position: center"/>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-light">Nama Lapangan</h4>
                            Harga Biasa
                            <br/>
                            Harga Penerangan
                            <br/>
                            Ukuran
                            <br/>
                            Type lapangan
                            <br/>
                            <div class="float-right">
                                <a href="" class="btn btn-warning">Edit</a>
                                <a href="" class="btn btn-success">Images</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-img" src="/images/lapangan/l20210618033325.jpeg" style="height: 150px; width: 250px; object-fit: cover; object-position: center"/>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-light">Nama Lapangan</h4>
                            Harga Biasa
                            <br/>
                            Harga Penerangan
                            <br/>
                            Ukuran
                            <br/>
                            Type lapangan
                            <br/>
                            <div class="float-right">
                                <a href="" class="btn btn-warning">Edit</a>
                                <a href="" class="btn btn-success">Images</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-img" src="/images/lapangan/l20210618033325.jpeg" style="height: 150px; width: 250px; object-fit: cover; object-position: center"/>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-light">Nama Lapangan</h4>
                            Harga Biasa
                            <br/>
                            Harga Penerangan
                            <br/>
                            Ukuran
                            <br/>
                            Type lapangan
                            <br/>
                            <div class="float-right">
                                <a href="" class="btn btn-warning">Edit</a>
                                <a href="" class="btn btn-success">Images</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="float-right">
                <a href="" class="btn btn-primary">Add Court</a>
            </div>
        </div>
        <br/>
    </section>
    <br/>
    <br/>
    <section id="Facilities" class="bg-light">
        <br/>
        <div class="container">
            <h4 class="font-weight-bold text-dark">Facilities</h4>
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-toilet" aria-hidden="true"></i> TOILET
                </div>
                <div class="col-3">
                    <i class="fas fa-parking" aria-hidden="true"></i> PARKING AREA
                </div>
                <div class="col-3">
                    <i class="fa fa-wifi" aria-hidden="true"></i> WIFI AREA
                </div>
                <div class="col-3">
                    <i class="fas fa-water" aria-hidden="true"></i> FREE WATER
                </div>
                <div class="col-3">
                    <i class="fas fa-money" aria-hidden="true"></i> FREE MONEY
                </div>
            </div>
            <br/>
            <a href="" class="btn btn-primary float-right">Add Facilities</a>
        </div>
        <br/>
    </section>
    <section id="Review" class="bg-light">
        <br/>
        <div class="container">
            <h4 class="font-weight-bold text-dark text-center">Review</h4>
        </div>
        <br/>
    </section>
    <section ID="END">
        <br/><br/><br/>
    </section>
</div>
</body>
</html>