<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Users</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Edit Data</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="card card-body card-img" th:src="@{'images/merchant/foto/'+${userObj.foto}}">
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Delete account card-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Firstname</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${userObj.namaDepan}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Lastname</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${userObj.namaBelakang}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${userObj.email}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telephon</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${userObj.telephone}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date Of Birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${userObj.tanggalLahir}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:if="${userObj.jenisKelamin == 'L'}" >Laki - Laki</label>
                                    <label th:if="${userObj.jenisKelamin == 'P'}" >Perempuan</label>
                                </div>
                            </div>
                            <br/>
                            <a class="btn btn-outline-secondary" href="/User">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</html>