<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Akun</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>Add Data Account</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{addAkun}" th:object="${msAkun}" method="post" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col">
                        <label for="username">Username <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="username" id="username"  required>
                        <br/>

                        <label for="password">Password <span style="color: red">*</span> </label>
                        <input class="form form-control" type="password" name="password" id="password"  required>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="/Status">Back</a>&#32
                        <button class="btn btn-outline-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>