<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Akun</title>
    <!--    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>EDIT DATA AKUN</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{editAkun}" th:object="${msAkun}" method="post" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="id_akun" th:value="${msAkun.idAkun}">

                        <label for="username">Username <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="username" id="username" th:value="${msAkun.username}" th:placeholder="${msAkun.username}" required>
                        <br/>

                        <label for="password">Password <span style="color: red">*</span> </label>
                        <input class="form form-control" type="password" name="password" id="password" th:value="${msAkun.password}" th:placeholder="${msAkun.password}" required>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="/Akun">Kembali</a>&#32
                        <button class="btn btn-outline-primary">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>
