<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Role</title>
    <!--    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>TAMBAH DATA FASILTAS</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{addFasilitas}" th:object="${msFasilitas}" method="post" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col">
                        <label for="fasilitas">Fasilitas <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="fasilitas" id="fasilitas"  required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Foto Fasilitas <span style="color: red">*</span> </label>
                        <br/>
                        <input type="file" name="file" id="file"  accept="image/png, image/jpeg" required>
                        <br/>
                        <br/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="/Fasilitas">Kembali</a>&#32
                        <button class="btn btn-outline-primary">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>