<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Fasilitas</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Fasilitas</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Ubah Data</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Form Fasilitas
                </div>
                <div class="card-body">
                    <form th:action="@{editFasilitas}" th:object="${msFasilitas}" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <input type="hidden" name="idFasilitas" th:value="${msFasilitas.idFasilitas}">
                            <label for="fasilitas">Fasilitas <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="fasilitas" id="fasilitas" th:value="${msFasilitas.fasilitas}" th:placeholder="${msFasilitas.fasilitas}" required>
                        </div>

                        <div class="form-group">
                            <label for="icon">Icon <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="icon" id="icon" placeholder="Icon" th:value="${msFasilitas.icon}" th:placeholder="${msFasilitas.icon}" required>
                        </div>

                        <button class="btn btn-outline-primary">Simpan</button>
                        <a class="btn btn-outline-secondary" href="/Fasilitas">Kembali</a>&#32
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

</html>