<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Fasilitas</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Data Fasilitas</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Data Fasilitas
                </div>
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-6">
                            <a class="btn btn-primary" href="/Fasilitas-add"><i class="fa fa-plus-circle"></i>&nbsp; Tambah</a>
                        </div>
                    </div>
                    <div class="table-responsive pt-2">
                        <div class="datatable">
                            <table class="table table-bordered table-hover table-striped nowrap" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="text-center min-wd-50">No</th>
                                    <!--                                    <th class="text-center">ID Biaya</th>-->
                                    <th class="text-center">Fasilitas</th>
                                    <th class="text-center">Icon Text</th>
                                    <th class="text-center">Icon</th>
                                    <th class="text-center min-wd-50">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, iter: ${listFasilitas}">
                                    <!--                <td th:text="${Merchant.id_merchant}">ID</td>-->
                                    <td class="text-center min-wd-50" style="width:20px;"><span th:text="${iter.count}"></span></td>
                                    <td th:text="${item.fasilitas}"></td>
                                    <td th:text="${item.icon}"></td>
                                    <td>
                                        <span th:class="${item.icon}"></span>
                                    </td>
                                    <td class="text-center min-wd-50" style="width:250px;">
                                        <div class="row">
                                            <div class="col">
                                                <a th:href="@{'Fasilitas-edit?id_fasilitas='+${item.idFasilitas}}" class="btn btn-warning form-control"><i data-feather="edit"></i> Ubah</a>
                                            </div>
                                            <div class="col">
                                                <a th:if="${item.status == 1}" th:href="@{'deleteFasilitas?id_fasilitas='+${item.idFasilitas}}" class="btn btn-danger form-control"  onclick="return confirm('Tekan OK untuk menghapus')"><i data-feather="trash-2"></i> Hapus</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>