<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Futsal Kuy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <center>
        <h1>FUTSAL KUY</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <a href="/Merchant" class="btn btn-primary">Merchant</a>
            <a href="/Akun" class="btn btn-primary">Akun</a>
            <a href="/User" class="btn btn-primary">User</a>
            <a href="/Biaya" class="btn btn-primary">Biaya</a>
            <a href="/Role" class="btn btn-primary">Role</a>
            <a href="/Tim" class="btn btn-primary">Tim</a>
            <a href="/Fasilitas" class="btn btn-primary">Fasilitas</a>
            <a href="/Status" class="btn btn-primary">Status</a>

        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>