<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Add Lapangan Merchant</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: 280px; background-image: url(/images/assets/merchant_bg.jpg); background-repeat: no-repeat; background-position: center">
    <br/><br/>
    <div class="container">

        <h4 class="text-center" style="text-transform: capitalize">add court</h4>
        <br/>

        <br/>
        <div class="row">
            <div class="col">
                <form action="/addLapangan" th:object="${MsLapangan}" method="post" >
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="id_merchant" th:value="${id_merchant}">

                            <label>Name <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="nama" id="nama" required>
                            <br/>

                            <label>Type <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="tipe_lapangan" id="tipe_lapangan" required>
                            <br/>

                            <label>Usual Price (Without lighting) <span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="harga" id="harga" required>
                            <br/>

                            <label>Price With lighting <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="harga_penerangan" id="harga_penerangan" required>
                            <br/>

                            <label>Court Size <span style="color: red">*</span> </label>

                            <label>Lenght<span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="panjang_lapangan" id="panjang_lapangan" required>

                            <label>Width <span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="lebar_lapangan" id="lebar_lapangan" required>

                            <br/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary" href="/my-merchant">Back</a>&#32
                            <button class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
</body>
</html>
