<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lapangan Merchant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>DAFTAR LAPANGAN MERCHANT</h1>
        <hr/>
    </center>
    <div class="row">
        <div class="col">
            <a th:href="@{'/Lapangan-add?id_merchant='+${id_merchant}}" class="btn btn-outline-primary">Tambah Lapangan Merchant</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <td>No</td>
                    <td>Nama Lapangan</td>
                    <td>Tipe</td>
                    <td>Harga / Penerangan</td>
                    <td>Panjang / Lebar (meter)</td>
                    <td>Aksi</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iter: ${listLapangan}">
                    <!--                <td th:text="${Merchant.id_merchant}">ID</td>-->
                    <td><span th:text="${iter.count}"></span></td>
                    <td th:text="${item.nama}"></td>
                    <td th:text="${item.tipe_lapangan}"></td>
                    <td th:text="${item.harga} + ' / ' + ${item.harga_penerangan}"></td>
                    <td th:text="${item.panjang_lapangan} + ' / ' + ${item.lebar_lapangan}"></td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <a th:href="@{'Lapangan-edit?id_lapangan='+${item.idLapangan}}" class="btn btn-info form-control">Edit</a>
                            </div>
                            <div class="col">
                                <a th:href="@{'Lapangan-detail?id_lapangan='+${item.idLapangan}}" class="btn btn-success form-control">Detail</a>
                            </div>
                            <div class="col">
                                <a th:if="${item.status == 1}" th:href="@{'deleteLapangan?id_lapangan='+${item.idLapangan}}" class="btn btn-danger form-control">Hapus</a>
                                <a th:if="${item.status == 0}" th:href="@{'undoLapangan?id_lapangan='+${item.idLapangan}}" class="btn btn-primary form-control">Aktifkan</a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{'Merchant-detail?id_merchant='+${id_merchant}}" class="btn btn-outline-secondary">Kembali</a>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>