<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layout/_team">
<head>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Add Player</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Add Player
                </div>
                <div class="card-body">
                    <form class="d-inline-flex float-right" action="/Anggota_No_Tim" method="get">
                        <input type="number" class="form-control" name="search">
                        <button class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                    </form>
                    <br/><br/>
                    <div th:if="${listUser.idTim==null}">
                        <div th:if="${listUser.namaDepan!=null}">
                            <div th:text="'Nama          : ' + ${listUser.namaDepan} + ' ' + ${listUser.namaBelakang}"></div>
                            <div th:text="'Tanggal Lahir : ' +${listUser.tanggalLahir}"></div><br/>
                            <a th:href="@{'AnggotaTim-Tambah?id='+${listUser.idUser}}" class="btn btn-primary" style="width: 70px;" onclick="return confirm('Are you sure you want to add this player?')">Add</a>
                        </div>
                        <div th:if="${listUser.namaDepan==null}">
                            <center>
                                <h2>Data not found</h2>
                            </center>
                        </div>
                    </div>
                    <div th:if="${listUser.idTim!=null}">
                        <center>
                            <h2>The player already has a team</h2>
                        </center>
                    </div>
                    <br/>
                    <a class="btn btn-warning" href="/Tambah-AnggotaTim">Back</a>
                </div>
            </div>
        </div>
    </main>
</div>
</html>