<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layout/_team">
<head>
</head>
<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Ask For a Match</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Form Ask For a Match
                </div>
                <div class="card-body">
                    <form th:action="@{GetUbahDetailAjak}" method="post" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" th:value="${listdetail.id}">

                                <label for="skor">Score Team <span style="color: red"  th:each="itemtim:${listTim}" th:if="${itemtim.idTim == listAjak.idTim1}" th:text="${itemtim.nama}"></span> </label>
                                <input class="form form-control" type="text" name="skor" id="skor" th:placeholder="${listdetail.skor}" th:value="${listdetail.skor}" >
                                <br/>

                                <label for="skor2">Score Team <span style="color: red"  th:each="itemtim:${listTim}" th:if="${itemtim.idTim == listAjak.idTim2}" th:text="${itemtim.nama}"></span> </label>
                                <input class="form form-control" type="text" name="skor2" id="skor2" th:placeholder="${listdetail.skor2}" th:value="${listdetail.skor2}">
                                <br/>

                                <label>Winner <span style="color: red">*</span> </label>
                                <select  name="juara" id="juara" class="form-control" required>
                                    <option th:value="0" selected disabled hidden>Select the winning team</option>
                                    <option th:each="tim ,cek:${listTim}" th:if="${tim.idTim==listAjak.idTim1}" th:value="${listAjak.idTim1}" th:text="${tim.nama}"></option>
                                    <option th:each="tim ,cek:${listTim}" th:if="${tim.idTim==listAjak.idTim2}" th:value="${listAjak.idTim2}" th:text="${tim.nama}"></option>
                                    <option th:value="0">Draw</option>
                                </select>
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary">Save</button>
                                <a class="btn btn-warning" th:href="@{'AjakTim-Detail?id='+${listAjak.id}}">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</html>