<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layout/_team">
<head>
</head>
<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">challenge the team</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Data Invite a Match
                </div>
                <div class="card-body">
                    <form th:action="@{Update_DetailAjakTanding/{id}(id=${ajak.idAjakTanding})}"  th:each="ajak, test:${listTanding}"  th:if="${ajak.idAjakTanding==a}" method="post" enctype="multipart/form-data" >
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="id" th:value="${ajak.id}">
                                <input type="hidden" name="id_ajak" th:value="${ajak.idAjakTanding}">
                                <label for="skor">Score Team <span style="color: red" th:each="tim1 ,cek1:${listTeam}" th:if="${tim1.idTim==listAjak.idTim1}" th:text="${tim1.nama}"></span> </label>
                                <input class="form form-control" type="text" name="skor" id="skor" th:placeholder="${ajak.skor}" >
                                <br/>

                                <label for="skor2">Score Team <span style="color: red" th:each="tim2 ,cek2:${listTeam}" th:if="${tim2.idTim==listAjak.idTim2}" th:text="${tim2.nama}"></span> </label>
                                <input class="form form-control" type="text" name="skor2" id="skor2" th:placeholder="${ajak.skor2}">
                                <br/>

                                <label>Winner <span style="color: red">*</span> </label>
                                <select  name="juara" id="juara" required class="form-control">
                                    <option th:each="tim ,cek:${listTeam}" th:if="${tim.idTim==listAjak.idTim1}" th:value="${listAjak.idTim1}" th:text="${tim.nama}"></option>
                                    <option th:each="tim ,cek:${listTeam}" th:if="${tim.idTim==listAjak.idTim2}" th:value="${listAjak.idTim2}" th:text="${tim.nama}"></option>
                                </select>
                                <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary">Save</button>
                                <a class="btn btn-warning" href="/AjakTim-Detail">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</html>