<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_userLayout">
<head>
    <meta charset="UTF-8">
    <title th:text="${merchant.nama}"></title>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 100%; height: 75px;">
        <img th:src="'/images/merchant/banner/'+${merchant.banner}" style="height: 100%; width: 100%; object-position: center; object-fit: cover">
    </div>
    <div class="container-fluid">
        <br/>
        <div class="row">
            <div class="col">
                <h6 class="font-weight-bold text-muted">
                    <a th:href="'/merchant-search/' + ${merchant.id_merchant}">
                        <span class="fa fa-arrow-left"></span>
                        <span th:text="${merchant.nama}"></span>
                    </a>
                </h6>
            </div>
            <div class="col">
                <p class="text-danger font-weight-bold text-center">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Make sure you are logged in to place an order in this court and you are the team manager !
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body shadow">
                        <h6 class="font-weight-bold text-muted" th:text="${lapangan.nama}"></h6>
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div th:each="a, iter : ${fotLap}" th:class="${iter.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                    <img class="card-img w-100" th:src="'/images/lapangan/'+${a.foto}" th:alt="${a.caption}">
                                    <p class="text-muted text-center" th:text="${a.caption}">
                                    </p>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="jadwal" class="col" style="margin-right: 10px">
                <div class=" bg-dark">
                    <p class="font-weight-light text-center text-light">
                        Schedule on this court
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <form class="d-inline-flex float-right" th:action="'/detail-lapangan/'+${lapangan.idLapangan}" method="get">
                            <input type="date" class="form-control" name="tanggal" th:value="${tanggal}">
                            <button class="btn btn-success"><span class="fa fa-search"></span> Search</button>
                        </form>
                    </div>
                </div>
                <br/>
                <div class="row" style="height: 500px; overflow-y: scroll;">
                    <div class="col-2"></div>
                    <div class="col">
                        <div class="card" th:each="a : ${jadwal}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <h3 class="text-center text-light" style="background-color: dimgrey" th:text="${#dates.format(a.tanggal, 'dd')}">
<!--                                            07-->
                                        </h3>
                                        <h4 class="text-center text-dark" th:text="${#dates.format(a.tanggal, 'MMM')}" style="text-transform: uppercase">
<!--                                            JUL-->
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <h3 class="font-weight-normal" th:each="t : ${tim}">
                                            <a href="" class="text-dark" th:if="${t.idTim == a.idTim1 and a.idTim1 == a.idTim2 }" th:text="${t.nama}">
                                            </a>
                                            <div class="row text-center" th:if="${t.idTim == a.idTim1 and a.idTim1 != a.idTim2 }" >
                                                <div class="col">
                                                    <a href="" class="text-dark">
                                                        <h5 th:text="${t.nama}"></h5>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <h5>VS</h5>
                                                </div>
                                                <div class="col">
                                                    <a href="" class="text-dark" th:each="t2 : ${tim} " th:if="${t2.idTim == a.id_tim2}">
                                                        <h5 th:text="${t2.nama}"></h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </h3>
                                        <p class="text-muted font-weight-light">
                                            <span class="fa fa-calendar" aria-hidden="true" style="color: lightgrey"></span>
                                            <span th:text="${#dates.dayOfWeekName(a.tanggal)}"></span>
                                            <span class="fa fa-clock" aria-hidden="true" style="color: lightgrey"></span>
                                            <span th:text="${#dates.format(a.jam, 'HH:mm')} + ' - ' +${#dates.format(a.durasi, 'HH:mm')}"></span> WIB
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <hr/>
                <button th:if="${session.tim != null}" onclick="bookiing()" class="btn btn-outline-primary float-right">Book now</button>
                <script>
                    function bookiing(){
                        var a = document.getElementById("booking");
                        var b = document.getElementById("jadwal");

                        a.style.display = 'block';
                        b.style.display = 'none';
                    }
                </script>
            </div>
            <div id="booking" class="col" style="margin-right: 10px; display: none">
                <div class="bg-success">
                    <p class="font-weight-light text-center text-light">
                        Booking data
                    </p>
                </div>
                <br/>
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a style="cursor: pointer" id="bfm" class="nav-link active">Booking</a>
                                </li>
                            </ul>
                            <script>
                                function change(i){
                                    var btn1 = document.getElementById("bfm");
                                    var btn2 = document.getElementById("bp");
                                    var form1 = document.getElementById("fm");
                                    var form2 = document.getElementById("p");
                                    if(i == 1){
                                        btn1.className = 'nav-link active';
                                        btn2.className = 'nav-link'
                                        form1.style.display = 'block';
                                        form2.style.display = 'none';
                                    }else{
                                        btn1.className = 'nav-link';
                                        btn2.className = 'nav-link active';
                                        form1.style.display = 'none';
                                        form2.style.display = 'block';
                                    }
                                }
                            </script>
                        </div>
                        <div class="card-body">
                            <form style="display: none" id="fm" action="">
                                <label>Challenger <span class="text-danger">*</span></label>
                                <input type="hidden" name="id_lapangan" th:value="${lapangan.idLapangan}">
                                <input type="text" class="form-control" name="tim_lawan" list="teams">
                                <datalist id="teams">
                                    <option th:each="a : ${tim}" th:value="${a.nama}">
                                </datalist>
                                <br/>

                                <label>Date <span class="text-danger">*</span></label>
                                <input type="date" class="form-control" name="tanggal">
                                <br/>

                                <label>Time <span class="text-danger">*</span></label>
                                <input type="time" class="form-control" name="jam">
                                <br/>

                                <label>Duration <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="durasi">
                                <br/>

                                <button onclick="back()" class="btn btn-outline-secondary">Back</button>
                                <button class="btn btn-outline-success">Book with this data</button>
                            </form>
                            <form id="p" action="/booking" method="post">
                                <label>Date <span class="text-danger">*</span></label>
                                <input type="hidden" name="id_lapangan" th:value="${lapangan.idLapangan}">
                                <input type="date" class="form-control" name="tanggal" required th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                <br/>

                                <label>Time <span class="text-danger">*</span></label><br/>
                                <label class="text-danger font-weight-bold">Orders after 5 PM will use the price with lighting</label>
                                <input id="waktu" type="time" class="form-control" name="waktu" required th:value="${#dates.format(#dates.createNow(), 'HH:00')}">
                                <br/>

                                <label>Duration <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="durasi" required min="1" value="1">
                                <br/>

                                <div class="row">
                                    <div class="col">
                                        <label>Price</label>
                                        <input type="text" class="form-control" name="asd" disabled th:value="'Rp. ' + ${lapangan.harga} + ' /Hour'" id="price1">
                                    </div>
                                    <div class="col">
                                        <label>Price with lighting</label>
                                        <input type="text" class="form-control" name="asd" disabled th:value="'Rp. ' + ${lapangan.harga_penerangan} + ' /Hour'" id="price2">
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <label class="text-danger font-weight-bold">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    If the data is not correct, the order will not be processed and the page will return to the previous page
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></label>
                                <button onclick="back()" class="btn btn-outline-secondary">Back</button>
                                <button class="btn btn-outline-success">Book with this data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <p class="text-muted font-weight-light" th:text="${merchant.deskripsi}"></p>
            <p class="text-muted font-weight-light" th:text="${merchant.alamat}"></p>
        </div>
    </div>
    <br/><br/>
</div>
</body>
</html>