<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/custome/rating.css">
    <title>Processed order</title>
    <link rel="stylesheet" href="../../static/css/custome/rating.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <br/>
        <h6 class="text-muted font-weight-light">Processed order</h6>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Court</th>
                <th scope="col"></th>
                <th scope="col">Play date</th>
                <th scope="col">Play time</th>
                <th scope="col">Team</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book, iter : ${booking}">
                <th scope="row" th:text="${iter.count}"></th>
                <td colspan="2" th:each="lap : ${lapangan}" th:if="${lap.idLapangan == book.id_lapangan}">
                    <a th:href="'/detail-lapangan/' + ${lap.idLapangan}" >
                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                        <span th:text="${lap.nama}"></span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span th:text="${#dates.format(book.tanggal, 'dd-MM-yyyy')}"></span>
                </td>
                <td>
                    <i class="fa fa-clock" aria-hidden="true"></i>
                    <span th:text="${#dates.format(book.jam, 'HH:mm')} + ' - ' +${#dates.format(book.durasi, 'HH:mm')}"></span>
                </td>
                <td th:each="t : ${tim}" th:if="${t.idTim == book.idTim}" th:text="${t.nama}"></td>
                <td>
                    <a th:href="'/konfirmasi-booking-finish/' + ${book.id}" class="btn btn-success"
                       onclick="return confirm('Press OK to confirm that this order is complete')"><i class="fa fa-check" aria-hidden="true"></i> Done</a>
<!--                    <a href="" data-toggle="modal" data-target="#done" th:attr="onclick=|done('${book.id}')|" class="btn btn-success">-->
<!--                        <i class="fa fa-check" aria-hidden="true"></i> Done-->
<!--                    </a>-->
<!--                    <script>-->
<!--                        function done(id){-->
<!--                            document.getElementById("id").value = id;-->
<!--                        }-->
<!--                    </script>-->
                    <a th:href="'/konfirmasi-booking-not-complete/' + ${book.id}" onclick="return confirm('Press OK to confirm that this order is not complete')" class="btn btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> Transaction not completey
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Evidence of transfer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="div_foto" class="card-img" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="download" class="btn btn-primary" download>Download Image</a>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="modal fade" id="done" tabindex="-1" role="dialog" aria-labelledby="done" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--            <div class="modal-content">-->
<!--                <form action="/konfirmasi-booking-finish" method="post">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title">Confirmation complete</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <input type="hidden" name="id" id="id">-->

<!--                        <label class="font-weight-bold text-dark" for="review">Review</label>-->
<!--                        <textarea class="form-control" type="text" name="review" id="review" placeholder="review">-->

<!--                        </textarea>-->

<!--                        <br/>-->
<!--                        <label class="font-weight-bold text-dark">Rating <span style="color:red">*</span></label>-->
<!--                        <br/>-->
<!--                        <div class="rating">-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" value="1" />-->
<!--                                <span class="icon">★</span>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" value="2" />-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" value="3" />-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" value="4" />-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                            </label>-->
<!--                            <label>-->
<!--                                <input type="radio" name="rating" value="5" />-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                                <span class="icon">★</span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                        <button class="btn btn-success"><span class="fa fa-paper-plane"></span> Send</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>