<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_team">
<head>
    <meta charset="UTF-8">
    <title>Schedule history</title>
    <link rel="stylesheet" href="/css/custome/rating.css">
</head>
<body>
<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Schedule</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">History</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Schedule history
                </div>
                <div class="card-body">
                    <div class="table-responsive pt-2">
                        <div class="datatable">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Court</th>
                                    <th scope="col">Play date</th>
                                    <th scope="col">Play time</th>
                                    <th scope="col">Schedule type</th>
                                    <th scope="col">Opponent</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="jad, iter : ${jadwal}">
                                    <th scope="row" th:text="${iter.count}"></th>
                                    <td th:each="lap : ${lapangan}" th:if="${lap.idLapangan == jad.idLapangan}">
                                        <a th:href="'/detail-lapangan/' + ${lap.idLapangan}" >
                                            <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                                            <span th:text="${lap.nama}"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span th:text="${#dates.dayOfWeekName(jad.tanggal)} + ' ' + ${#dates.format(jad.tanggal, 'dd-MM-yyyy')}"></span>
                                    </td>
                                    <td>
                                        <i class="fa fa-clock" aria-hidden="true"></i>
                                        <span th:text="${#dates.format(jad.jam, 'HH:mm')} + ' - ' +${#dates.format(jad.durasi, 'HH:mm')}"></span>
                                    </td>
                                    <td th:if="${jad.idTim1 == jad.id_tim2}" class="font-weight-bold">Practice</td>
                                    <td th:if="${jad.idTim1 != jad.id_tim2}" class="font-weight-bold">Friendly Match</td>
                                    <td th:if="${jad.idTim1 == jad.id_tim2}" class="font-weight-bold">-</td>
                                    <td th:if="${jad.idTim1 != jad.id_tim2}" class="font-weight-bold">
                                        <a th:each="t : ${tim}" th:if="${t.idTim == jad.id_tim2}" th:text="${t.nama}"></a>
                                    </td>
                                    <td>
                                        <span th:if="${jad.status == 2}" class="text-success">Finished</span>
                                        <span th:if="${jad.status == 0}" class="text-danger">Unfinished</span>&nbsp;&nbsp;
                                        <span  th:each="rev : ${review}" th:if="${rev.id_trbooking == jad.id && rev.rating == 0}">
                                            <a data-toggle="modal" data-target="#exampleModal" class="text-primary" style="cursor: pointer">
                                                <span class="fa fa-comment" aria-hidden="true"></span> Review merchant
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <form action="/tim-review-merchant" method="post" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirmation complete</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden" name="id" th:value="${rev.id}">
                                                                <label class="font-weight-bold text-dark" for="review">Review</label>
                                                                <textarea class="form-control" type="text" name="review" id="review" placeholder="review"></textarea>

                                                                <br/>
                                                                <label class="font-weight-bold text-dark">Rating <span style="color:red">*</span></label>
                                                                <br/>
                                                                <div class="rating">
                                                                    <label>
                                                                        <input type="radio" name="rating" value="1" required/>
                                                                        <span class="icon">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="rating" value="2" required/>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="rating" value="3" required/>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="rating" value="4" required/>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                    </label>
                                                                    <label>
                                                                        <input type="radio" name="rating" value="5" required/>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                        <span class="icon">★</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <button class="btn btn-success"><span class="fa fa-paper-plane"></span>&nbsp;&nbsp; Send</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>