<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Fasilitas Merchant</title>
    <!--    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>TAMBAH DATA FASILITAS MERCHANT</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{addDtMerchant}" th:object="${dtMerchant}" method="post">
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="id_merchant" th:value="${id_merchant}">

                        <label>Fasilitas <span style="color: red">*</span> </label>
                        <select  name="id_fasilitas" id="id_fasilitas" required class="form-control">
                            <option value="">- Pilih -</option>
                            <option value="1">TOILET</option>
                            <option value="2">WIFI</option>
                            <option value="3">PARKIR</option>
                        </select>
                        <br/>

                        <label>Jumlah <span style="color: red">*</span> </label>
                        <input class="form form-control" type="number" name="jumlah" id="jumlah" required>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" th:href="@{'DtMerchant?id_merchant='+${id_merchant}}">Kembali</a>&#32
                        <button class="btn btn-outline-primary">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>
