<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Add Facilities Merchant</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: 280px">
    <div class="fixed-bottom" style="margin-left: 280px; background-image: url(/images/assets/merchant_bg.jpg); background-repeat: no-repeat; background-position: center; height: 30px"></div>
    <br/><br/>
    <div class="container">
        <h4 class="text-center" style="text-transform: capitalize">Add Facilities</h4>
        <br/>
        <br/>
        <div class="row">
            <div class="col">
                <form action="/addDtMerchant" th:object="${dtMerchant}" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="id_merchant" th:value="${id_merchant}">

                            <label>Facilities <span style="color: red">*</span> </label>
                            <select  name="id_fasilitas" id="id_fasilitas" required class="form-control">
                                <div  th:each="item, iter: ${listFasilitas}">
                                    <option th:value="${item.idFasilitas}" th:text="${item.fasilitas}">
                                    </option>
                                </div>

                            </select>
                            <br/>

                            <label>Amount <span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="jumlah" id="jumlah" required>
                            <br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary" href="/my-merchant">Back</a>&#32
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
</body>
</html>
