<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Status</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Status</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Ubah Data</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Form Status
                </div>
                <div class="card-body">
                    <form th:action="@{editStatus}" th:object="${msStatus}" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <input type="hidden" name="id_status" th:value="${msStatus.idStatus}">

                            <label for="keterangan">Status <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="keterangan" id="keterangan" th:value="${msStatus.keterangan}" th:placeholder="${msStatus.keterangan}" required>
                        </div>

                        <button class="btn btn-outline-primary">Simpan</button>
                        <a class="btn btn-outline-secondary" href="/Status">Kembali</a>&#32
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

</html>
