<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Status</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>EDIT DATA STATUS</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{editStatus}" th:object="${msStatus}" method="post" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="id_status" th:value="${msStatus.idStatus}">

                        <label for="keterangan">Status <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="keterangan" id="keterangan" th:value="${msStatus.keterangan}" th:placeholder="${msStatus.keterangan}" required>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="/Status">Kembali</a>&#32
                        <button class="btn btn-outline-primary">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>
