<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <!--    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="../../static/css/bootstrap.css">-->

</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>DAFTAR STATUS</h1>
        <hr/>
    </center>
    <div class="row">
        <div class="col">
            <a href="/Status-add" class="btn btn-outline-primary">Tambah</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <td>No</td>
                    <td>Id Status</td>
                    <td>Keterangan</td>
                    <td>Aksi</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iter: ${listStatus}">
                    <!--                <td th:text="${Merchant.id_merchant}">ID</td>-->
                    <td><span th:text="${iter.count}"></span></td>
                    <td th:text="${item.idStatus}"></td>
                    <td th:text="${item.keterangan}"></td>
                    <td >
                        <div class="row">
                            <div class="col">
                                <a th:href="@{'Status-edit?id_status='+${item.idStatus}}" class="btn btn-info form-control">Edit</a>
                            </div>
                            <!--                            <div class="col">-->
                            <!--                                <a th:href="@{'Merchant-detail?id_merchant='+${item.idStatus}}" class="btn btn-success form-control">Detail</a>-->
                            <!--                            </div>-->
                            <div class="col">
                                <a th:if="${item.status == 1}" th:href="@{'deleteStatus?id_status='+${item.idStatus}}" class="btn btn-danger form-control"  onclick="return confirm('Tekan OK untuk menghapus')">Hapus</a>
                                <a th:if="${item.status == 0}" th:href="@{'deleteStatus?id_status='+${item.idStatus}}" class="btn btn-primary form-control">Muncul</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-secondary" href="/">
                Kembali
            </a>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>