<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pendaftaran User</title>
    <!--    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br/><br/>
<div class="container">
    <center>
        <h1>PENDAFTARAN USER</h1>
        <hr/>
    </center>
    <br/>
    <div class="row">
        <div class="col">
            <form th:action="@{addDaftarUser}" method="post" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col">
                        <label for="namaDepan">Nama Depan<span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="namaDepan" id="namaDepan" placeholder="Nama Depan" required>
                        <br/>

                        <label for="namaBelakang">Nama Belakang<span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="namaBelakang" id="namaBelakang" placeholder="Nama Belakang" required>
                        <br/>

                        <label for="telephone">Telepon <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="telephone" id="telephone" placeholder="Telephone" required>
                        <br/>

                        <label for="email">Email <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="email" id="email" placeholder="Email" required>
                        <br/>

                        <label for="tanggal_Lahir">Tanggal Lahir <span style="color: red">*</span> </label>
                        <input class="form form-control" type="date" name="tanggalLahir" id="tanggal_Lahir" required>
                        <br/>

                        <label>Jenis Kelamin <span style="color: red">*</span> </label>
                        <br/>
                        <input type="radio" id="laki" name="jenisKelamin" value="L">
                          <label for="laki">Laki - Laki</label><br>
                        <input type="radio" id="perempuan" name="jenisKelamin" value="P">
                          <label for="perempuan">Perempuan</label><br>
                        <br/>

                        <label for="username">Username <span style="color: red">*</span> </label>
                        <input class="form form-control" type="text" name="username" placeholder="Username" id="username"  required>
                        <br/>

                        <label for="password">Password <span style="color: red">*</span> </label>
                        <input class="form form-control" type="password" name="password" placeholder="Password" id="password"  required>
                        <br/>

                        <label for="repassword">Konfirmasi Password <span style="color: red">*</span> </label>
                        <input class="form form-control" type="password" name="repassword" id="repassword" placeholder="Konfirmasi Password" required>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-secondary" href="/User">Kembali</a>&#32
                        <button id="btnSubmit" class="btn btn-outline-primary">Simpan</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $("#btnSubmit").click(function () {
                        var password = $("#password").val();
                        var confirmPassword = $("#repassword").val();
                        if (password != confirmPassword) {
                            alert("Password Tidak Sama");
                            return false;
                        }
                        return true;
                    });
                });
            </script>
        </div>
    </div>
</div>
<br/><br/><br/>
</body>
</html>