<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_userLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pendaftaran User</title>
    <!--    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">-->
</head>
<body>
<div layout:fragment="content" class="banner-landscape">
    <br/><br/>
    <div class="container">
        <br/>
        <h1 class="font-weight-bold text-light text-center" style="text-transform: uppercase">registration</h1>
        <p class="font-weight-light text-light text-center">Being one of us is an honor for us. Best regards, developers (Ivan & Teddy)</p>
        <hr style="border-width: 4px;"/>
        <br/>
        <div class="row">
            <div class="col">
                <form th:action="@{addDaftarUser}" method="post" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col">
                                    <label class="font-weight-bold text-light" for="namaDepan">First Name<span style="color: red"> *</span> </label>
                                    <input class="form form-control" type="text" name="namaDepan" id="namaDepan" placeholder="First Name" required>
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold text-light" for="namaBelakang">Last Name<span style="color: red">*</span> </label>
                                    <input class="form form-control" type="text" name="namaBelakang" id="namaBelakang" placeholder="Last Name" required>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col">
                                    <label class="font-weight-bold text-light" for="telephone">Phone  <span style="color: red">*</span> </label>
                                    <input class="form form-control" type="number" name="telephone" id="telephone" placeholder="Phone " required>
                                </div>
                                <div class="col">
                                    <label class="font-weight-bold text-light" for="email">Email <span style="color: red">*</span> </label>
                                    <input class="form form-control" type="text" name="email" id="email" placeholder="Email" required>
                                </div>
                            </div>
                            <br/>
                            <label class="font-weight-bold text-light" for="tanggal_Lahir">Date of Birth <span style="color: red">*</span> </label>
                            <input class="form form-control" type="date" name="tanggalLahir" id="tanggal_Lahir" required>
                            <br/>
                            <label class="font-weight-bold text-light" >Gender <span style="color: red">*</span> </label>
                            <br/>
                            <input type="radio" id="laki" name="jenisKelamin" value="L">
                              <label class="font-weight-bold text-light" for="laki">Man</label><br>
                            <input type="radio" id="perempuan" name="jenisKelamin" value="P">
                              <label class="font-weight-bold text-light" for="perempuan">Woman</label><br>
                            <hr/>
                            <label class="font-weight-bold text-light" for="username">Username <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="username" placeholder="Username" id="username"  required>
                            <br/>
                            <label class="font-weight-bold text-light" for="password">Password <span style="color: red">*</span> </label>
                            <input class="form form-control" type="password" name="password" placeholder="Password" id="password"  required>
                            <br/>
                            <label class="font-weight-bold text-light" for="repassword">Confirm Password  <span style="color: red">*</span> </label>
                            <input class="form form-control" type="password" name="repassword" id="repassword" placeholder="Confirm Password" required>
                            <br/>
                            <div class="row text-center">
                                <div class="col">
<!--                                    <a class="btn btn-outline-secondary" href="/User">Kembali</a>&#32-->
                                    <button id="btnSubmit" class="btn btn-outline-primary form-control">Sign Up</button>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $("#btnSubmit").click(function () {
                            var password = $("#password").val();
                            var confirmPassword = $("#repassword").val();
                            if (password != confirmPassword) {
                                alert("password is not the same");
                                return false;
                            }
                            return true;
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <br/><br/>
</div>

</body>
</html>