<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Edit Images Court</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: 280px">
    <div class="fixed-bottom" style="margin-left: 280px; background-image: url(/images/assets/merchant_bg.jpg); background-repeat: no-repeat; background-position: center; height: 30px"></div>
    <br/><br/>
    <div class="container">
        <h4 class="text-center" style="text-transform: capitalize">Edit Images Court</h4>
        <br/>
        <br/>
        <form action="/editFotoLapangan" method="post" enctype="multipart/form-data" >
            <div class="row">
                <div class="col">
                    <input name="id_foto" type="hidden" th:value="${dtFotoLapangan.idFoto}">
                    <br/>
                    <center>
                        <img class="card-img" th:src="'/images/lapangan/'+${dtFotoLapangan.foto}">
                    </center>
                    <label>Caption</label>
                    <input class="form-control" type="text" name="caption" id="caption" th:value="${dtFotoLapangan.caption}" th:placeholder="${dtFotoLapangan.caption}">
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary" th:href="'/images-court/' + ${dtFotoLapangan.idLapangan}">Back</a>&#32
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <br/><br/><br/>
</div>

</body>
</html>
