<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Images Court</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: 280px">
    <br/><br/>
    <div class="container">
        <div class="fixed-bottom" style="margin-left: 280px; background-image: url(/images/assets/merchant_bg.jpg); background-repeat: no-repeat; background-position: center; height: 30px"></div>
        <h4 class="text-center" style="text-transform: capitalize">Images Court</h4>
        <br/>
        <div class="row">
            <div class="col">
                <form action="/addFotoLapangan" method="post" enctype="multipart/form-data" class="card">
                    <div class="card-header text-center">
                        New Images
                    </div>
                    <div class=" card-body">
                        <input name="id_lapangan" type="hidden" th:value="${id_lapangan}">

                        <label>Images <span style="color: red">*</span> </label>
                        <input type="file" name="file" id="file" class="form-control-file" accept="image/png, image/jpeg" required>
                        <br/>
                        <label>Caption</label>
                        <input class="form-control" type="text" name="caption" id="caption">
                        <br/>
                        <button class="btn btn-primary float-right">Add Court Image</button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-4 text-center" style="align-items: center; justify-content: center" th:each="item, iter: ${listDtFotoLapangan}">

                <img class="card-img" style="margin-top: 10px; height: 225px; width: 100%" th:src="'/images/lapangan/' + ${item.foto}">
                <br/>

                <label style="font-family: 'Segoe UI'"><b th:text="${item.caption}"></b></label>
                <a th:href="'/edit-images-court/' + ${item.idFoto}" class="float-end" title="Perbarui caption"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a th:href="'/deletePotoLapangan?id_foto=' + ${item.idFoto}" class="float-end" title="Hapus foto"><i  style="color: red" class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <a href="/my-merchant" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
</body>
</html>