<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Cost</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Cost</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Add Data</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Form Cost
                </div>
                <div class="card-body">
                    <form th:action="@{addBiaya}" th:object="${msBiaya}" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="nominal">Cost <span style="color: red">*</span> </label>
                            <input class="form form-control" type="number" name="nominal" id="nominal" placeholder="Cost" required>
                        </div>

                        <div class="form-group">
                            <label for="keterangan">Information <span style="color: red">*</span> </label>
                            <input class="form form-control" type="text" name="keterangan" id="keterangan" placeholder="Information" required>
                        </div>

                        <button class="btn btn-outline-primary">Save</button>
                        <a class="btn btn-outline-secondary" href="/Biaya">Back</a>&#32
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

</html>