<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Merchant</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>

        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row form-group">
                        <img class="card card-body card-img" th:src="@{'images/merchant/banner/'+${merchantObj.banner}}" width="300px" height="400px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img class="card card-body card-img" th:src="@{'images/merchant/foto/'+${merchantObj.foto}}">
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Delete account card-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nama</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${merchantObj.nama}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Alamat</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${merchantObj.alamat}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Narahubung</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${merchantObj.narahubung}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telepon</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${merchantObj.telephone}"></label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Deskripsi</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label th:text="${merchantObj.deskripsi}"></label>
                                </div>
                            </div>
                            <hr>

                            <div class="col">
                                <a th:href="@{'DtMerchantAdmin?id_merchant='+${merchantObj.id_merchant}}" class="btn btn-info">Detail Fasilitas</a>
                                <a th:href="@{'LapanganAdmin?id_merchant='+${merchantObj.id_merchant}}" class="btn btn-success">Lihat Lapangan</a>
                                <a href="/Merchant" class="btn btn-outline-secondary">Kembali</a>&#32
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</html>
