<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layout/_merchant">
<head>
    <meta charset="UTF-8">
    <title>Merchant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">

    <!--Content of the page-->
    <br/><br/>
    <div class="container">
        <center>
            <h1>DAFTAR MERCHANT</h1>
            <hr/>
        </center>
        <div class="row">
            <div class="col">
                <a href="/Merchant-add" class="btn btn-outline-primary">Tambah</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <table id="table" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <!--                    <td>Id Merchant</td>-->
                        <th>Nama Merchant</th>
                        <th>Telepon</th>
                        <th>Alamat</th>
                        <th>Foto</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Merchant, iter: ${listMerchant}">
                        <!--                <td th:text="${Merchant.id_merchant}">ID</td>-->
                        <td><span th:text="${iter.count}"></span></td>
                        <td th:text="${Merchant.nama}"></td>
                        <td th:text="${Merchant.telephone}"></td>
                        <td th:text="${Merchant.alamat}"></td>
                        <td>
                            <img style="height: 100px; width: auto" class="card-img" th:src="@{'images/merchant/foto/'+${Merchant.foto}}">
                        </td>
                        <td >
                            <div class="row">
                                <div class="col">
                                    <a th:href="@{'Merchant-edit?id_merchant='+${Merchant.id_merchant}}" class="btn btn-info form-control">Edit</a>
                                </div>
                                <div class="col">
                                    <a th:href="@{'Merchant-detail?id_merchant='+${Merchant.id_merchant}}" class="btn btn-success form-control">Detail</a>
                                </div>
                                <div class="col">
                                    <a th:href="@{'deleteMerchant?id_merchant='+${Merchant.id_merchant}}" class="btn btn-danger form-control"  onclick="return confirm('Tekan OK untuk menghapus')">Hapus</a>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col">
                                    <a th:if="${Merchant.status == 0}" class="btn btn-outline-success form-control">Aktifkan</a>
                                    <a th:if="${Merchant.status == 1}" class="btn btn-outline-danger  form-control">Nonaktifkan</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-secondary" href="/">
                    Kembali
                </a>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>

</body>
</html>