<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Merchant</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Data Merchant</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Data Merchant
                </div>
                <div class="card-body">
                    <div class="row form-group">
                    </div>
                    <div class="table-responsive pt-2">
                        <div class="datatable">
                            <table class="table table-bordered table-hover table-striped nowrap" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="text-center min-wd-50">No</th>
                                    <th class="text-center">Nama Merchant</th>
                                    <th class="text-center">Telephone</th>
                                    <th class="text-center">Alamat</th>
                                    <th class="text-center min-wd-50">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Merchant, iter: ${listMerchant}">
                                    <td class="text-center min-wd-50" style="width:20px;"><span th:text="${iter.count}"></span></td>
                                    <td th:text="${Merchant.nama}"></td>
                                    <td th:text="${Merchant.telephone}"></td>
                                    <td th:text="${Merchant.alamat}"></td>
                                    <td class="text-center min-wd-50" style="width:400px;">
                                        <div class="row">
                                            <div class="col">
                                                <a th:href="@{'Merchant-edit?id_merchant='+${Merchant.id_merchant}}" class="btn btn-info form-control"><i data-feather="check-circle"></i> Konfirmasi</a>
                                            </div>
                                            <div class="col">
                                                <a th:href="@{'Merchant-detail?id_merchant='+${Merchant.id_merchant}}" class="btn btn-success form-control"><i data-feather="ellipsis-v"></i> Detail</a>
                                            </div>
                                            <div class="col">
                                                <a th:href="@{'deleteMerchant?id_merchant='+${Merchant.id_merchant}}" class="btn btn-danger form-control"  onclick="return confirm('Tekan OK untuk menghapus')"><i data-feather="trash-2"></i> Hapus</a>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col">
                                                <a th:if="${Merchant.status == 0}" class="btn btn-outline-success form-control">Aktifkan</a>
                                                <a th:if="${Merchant.status == 1}" class="btn btn-outline-danger  form-control">Nonaktifkan</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>