<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/template/admines">
<head>
    <title>Detail Lapangan</title>
</head>

<div layout:fragment="content">
    <main>
        <header>
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item text-blue" aria-current="page">Data Detail Lapangan</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        </header>
        <!-- Main page content-->
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    Data Detail Lapangan
                </div>
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-6">
                            <a th:href="@{'Merchant-detail?id_merchant='+${id_merchant}}" class="btn btn-outline-secondary">Kembali</a>
                        </div>
                    </div>
                    <div class="table-responsive pt-2">
                        <div class="datatable">
                            <table class="table table-bordered table-hover table-striped nowrap" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="text-center min-wd-50">No</th>
                                    <th class="text-center">Nama</th>
                                    <th class="text-center">Tipe Langan</th>
                                    <th class="text-center">Harga</th>
                                    <th class="text-center">Harga Penrangan</th>
                                    <th class="text-center">Panjang X Lebar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, iter: ${listLapangan}">
                                    <!--                <td th:text="${Merchant.id_merchant}">ID</td>-->
                                    <td><span th:text="${iter.count}"></span></td>
                                    <td th:text="${item.nama}"></td>
                                    <td th:text="${item.tipe_lapangan}"></td>
                                    <td th:text="${item.harga}"></td>
                                    <td th:text="${item.harga_penerangan}"></td>
                                    <td th:text="${item.panjang_lapangan} + ' X ' + ${item.lebar_lapangan}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>